<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar médico" #input (keyup)="searchMedico(input.value)">
      </div>
    </div>
  </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando ...</strong>
      <br><br>
      <i class="fa fa-refresh fa-spin fa-3x"></i>
      <br><br>
      <span>Espere por favor.</span>
    </div>
  </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <button [routerLink]="['/doctor', 'new']" type="button" class="btn btn-primary btn-circle">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <h3 class="card-title">Médicos Registrados (<small>{{ total }}</small>)</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Médico</th>
              <th scope="col">Hospital</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of medicos">
              <td class="w70">
                <img [src]="i.img | imagen:'medico'" class="w50 img-circle">
              </td>
              <td>{{ i.nombre }}</td>
              <td>{{ i.hospital.nombre }}</td>
              <td>
                <button class="btn btn-primary" [routerLink]="['/doctor', i._id]">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger ml-3" (click)="deleteMedico(i)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="changeSince(-5)" class="btn btn-info">Anteriores</button>
        <button type="button" (click)="changeSince(5)" class="btn btn-info ml-3">Siguientes</button>
      </div>
    </div>
  </div>
</div>