<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar hospital" #input
          (keyup)="searchHospital(input.value)">
      </div>
    </div>
  </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando ...</strong>
      <br><br>
      <i class="fa fa-refresh fa-spin fa-3x"></i>
      <br><br>
      <span>Espere por favor.</span>
    </div>
  </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <button (click)="createHospital()" type="button" class="btn btn-primary btn-circle">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <h3 class="card-title">Hopitales Registrados (<small>{{ total }}</small>)</h3>
        <div *ngIf="hospitales.length === 0" class="alert alert-warning wt text-center">
          No hay registros
        </div>
        <table class="table table-hover" *ngIf="hospitales.length > 0">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Hospital</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of hospitales">
              <td class="w70">
                <img (click)="showModal(i._id)" [src]="i.img | imagen:'hospital'" class="w50 pointer">
              </td>
              <td>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="i.nombre"
                  placeholder="Nombre del hospital">
              </td>
              <td>
                <button class="btn btn-primary" (click)="saveHospital(i)">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger ml-3" (click)="deleteHospital(i)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>