/* You can add global styles to this file, and also import other style files */
.themecolors a, .pointer {
    cursor: pointer;
}

.email {
    font-size: .6rem !important;
    margin-bottom: 10px !important;
}

.w {
    width: 150px;
}